[Unit]
Description=Riak KV Database

[Service]
ExecStart=/usr/sbin/riak start
ExecStop=/usr/sbin/riak stop
Type=forking
EnvironmentFile=-/etc/default/riak
RuntimeDirectory=riak

[Install]
WantedBy=multi-user.target
