%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

%% Platform-specific installation paths
{platform_bin_dir,  "/usr/sbin"}.
{platform_data_dir, "/var/lib/riak"}.
{platform_etc_dir,  "/etc/riak"}.
{platform_base_dir, "/usr/lib/riak"}.
{platform_lib_dir,  "/usr/lib/riak/lib"}.
{platform_log_dir,  "/var/log/riak"}.

{runner_script_dir,  "/usr/sbin"}.
{runner_base_dir,    "/usr/lib/riak"}.
{runner_etc_dir,     "/etc/riak"}.
{runner_log_dir,     "/var/log/riak"}.
{runner_user,        "riak"}.
{runner_lib_dir,     "/usr/lib/riak/lib"}.
{runner_patch_dir,   "/usr/lib/riak/lib/patches"}.
{pipe_dir,           "/tmp/riak/"}.
{package_replacement_line, ""}.
{package_conflicts_line, ""}.
